@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

%center-vertically {
  display: flex;
  align-items: center;
}

:root{
  --bg-header:#333;
  --bg-sidebar:#ddd;
  --bg-main:#eee;
  --bg-button-hover: #ccc;
  --font-color:#333;
}

*:focus{
  outline: none;
}

html, body{
  min-height: 100vh;
}

body{
  margin: 0;
  display: grid;
  grid-template: 100px 1fr/ 250px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar main";
  font-family: 'Lato', sans-serif;
  color: var(--font-color);
}

button{
  cursor: pointer;
  appearance: none;
  background: none;
  width: 100%;
  text-align: left;
  border: none;
  color: var(--font-color);
  padding: 10px;
  border-radius: 5px;

  &:hover{
    background-color: var(--bg-button-hover);
  }
}

button.active{
  font-weight: bold;
  background-color: var(--bg-button-hover);
}

header{
  grid-area: header;
  padding: 20px;
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 0.9rem;
}

.sidebar{
  grid-area: sidebar;
  background-color: var(--bg-sidebar);
  padding: 30px;

  button{
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  h2{
    margin: 20px 0 10px 0;
    font-size: 1.25rem;
  }

  .project, .add-project{
    @extend %center-vertically;
  }

  .project{
    justify-content: space-between;
    
    img{
      visibility: hidden;
    }

    &:hover{
      img{
        visibility: visible;
      }
    }
  }

  .add-project{
    margin-top: 10px;
    gap: 10px;
  }
}

main{
  grid-area: main;
  background-color: var(--bg-main);

  .project-display{
    width: 900px;
    margin: 0 auto;
    padding: 0 40px;

    h2{
      font-size: 2em;
    }

    .task{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 10px;

      input{
        margin-left: auto;
        background-color: var(--bg-sidebar);
        border: none;
        padding: 10px;
        border-radius: 5px;

      }

      p {
        font-size: 1rem;
      }
  
      img {
        height: 1.5rem;
      }
    }

    .add-task{
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      margin-top: 32px;
      @extend %center-vertically;
      gap: 10px;
    }
  }
}

h1{
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 2.25rem;
  user-select: none;
}