@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

%center-vertically {
  display: flex;
  align-items: center;
}

%position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  --bg-header:#333;
  --bg-sidebar:#ddd;
  --bg-main:#eee;
  --bg-overlay: #00000080;
  --bg-modal-window:white;
  --bg-button-hover: #ccc;
  --font-color:#333;
  --font-light-color: white;
}

*:focus{
  outline: none;
}

html, body{
  min-height: 100vh;
}

body{
  margin: 0;
  display: grid;
  grid-template: 100px 1fr/ 250px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar main";
  font-family: 'Lato', sans-serif;
}

body, input, button, textarea{
  color: var(--font-color);
}

button{
  cursor: pointer;
  appearance: none;
  background: none;
  width: 100%;
  text-align: left;
  border: none;
  padding: 10px;
  border-radius: 5px;

  &:hover{
    background-color: var(--bg-button-hover);
  }
}

button.active{
  font-weight: bold;
  background-color: var(--bg-button-hover);
}

input{
  border: none;
  padding: 10px;
  border-radius: 5px;
}

header{
  grid-area: header;
  padding: 20px;
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 0.9rem;
}

.sidebar{
  grid-area: sidebar;
  background-color: var(--bg-sidebar);
  padding: 30px;

  button{
    font-size: 0.9rem;
  }

  h2{
    margin: 20px 0 10px 0;
    font-size: 1.25rem;
  }

  .project, .add-project{
    @extend %center-vertically;
  }

  .project{
    justify-content: space-between;
    
    img{
      visibility: hidden;
    }

    &:hover{
      img{
        visibility: visible;
      }
    }
  }

  .add-project{
    margin-top: 10px;
    gap: 10px;
  }
}

main{
  grid-area: main;
  background-color: var(--bg-main);

  .project-display{
    width: 900px;
    margin: 0 auto;
    padding: 0 40px;

    h2{
      font-size: 2em;
    }

    .task{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 10px;

      input{
        margin-left: auto;
        background-color: var(--bg-sidebar);
      }

      p {
        font-size: 1rem;
      }
  
      img {
        height: 1.5rem;
      }
    }

    .add-task{
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      margin-top: 32px;
      @extend %center-vertically;
      gap: 10px;
    }
  }
}

h1{
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 2.25rem;
  user-select: none;
}

.overlay{
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  @extend %center;
  background-color: var(--bg-overlay);
  display: none;

  &.opened{
    display: flex; 
  }

  .modal-window{
    background-color: var(--bg-modal-window);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    font-size: 1.1rem;

    h2{
      margin-top: 0;
      margin-bottom: 2rem;
      text-align: center;
    }

    .form-group{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }

    input{
      border: var(--bg-header) 1px solid;
      font-size: 1rem;
    }

    textarea{
      height: 100px;
      resize: vertical;
    }

    fieldset{
      padding: 0;
      margin: 0;
      border: none;
      @extend %center;
      gap: 20px;

      input {
        position: relative;
        appearance: none;
        border-width: 1px;
        height: 1.75rem;
        margin: 0;
        flex: 1;

        &:checked{
          border-color: currentColor;
        }

        &:nth-child(1):checked{
          color: green;
        }

        &:nth-child(2):checked{
          color:orange;
        }

        &:nth-child(3):checked{
          color:red;
        }
      }

      input::after{
        @extend %position-center;
      }

      input:nth-child(1)::after{
        content: 'Low';
        color: inherit;
      }

      input:nth-child(2)::after{
        content: 'Medium';
        color: inherit;
      }

      input:nth-child(3)::after{
        content: 'High';
        color: inherit;
      }
    }

    button{
      font-size: 1rem;
      margin-top: 1rem;
      text-align: center;
      background-color: var(--bg-header);
      color: var(--font-light-color);

      &:hover{
        opacity: 0.8;
      }
    }
  }
}